<!DOCTYPE html>
<html>
<head>
    <title>Student System</title>
</head>
<body>

<h2>Add Student</h2>

<form action="/add" method="POST">
    <input type="text" name="name" placeholder="Name" required><br><br>
    <input type="number" name="age" placeholder="Age" required><br><br>
    <input type="text" name="grade" placeholder="Grade"><br><br>
    <input type="number" name="marks" placeholder="Marks"><br><br>
    <button type="submit">Add</button>
</form>

<hr>

<h2>Students List</h2>

<table border="1">
<tr>
    <th>ID</th>
    <th>Name</th>
    <th>Age</th>
    <th>Grade</th>
    <th>Marks</th>
    <th>Action</th>
</tr>

{% for student in students %}
<tr>
<form action="/update/{{ student.id }}" method="POST">
    <td>{{ student.id }}</td>
    <td><input type="text" name="name" value="{{ student.name }}"></td>
    <td><input type="number" name="age" value="{{ student.age }}"></td>
    <td><input type="text" name="grade" value="{{ student.grade }}"></td>
    <td><input type="number" name="marks" value="{{ student.marks }}"></td>
    <td>
        <button type="submit">Update</button>
        <a href="/delete/{{ student.id }}">Delete</a>
    </td>
</form>
</tr>
{% endfor %}

</table>

</body>
</html>