<!DOCTYPE html>
<html>
<head>
    <title>Student System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

<h2>Student Management System</h2>

<a href="/logout">Logout</a>

<div class="form-section">
<h3>Add Student</h3>

<form action="/add" method="POST">
    <input type="text" name="name" placeholder="Name" required><br>
    <input type="number" name="age" placeholder="Age" required><br>
    <input type="text" name="grade" placeholder="Grade"><br>
    <input type="number" name="marks" placeholder="Marks"><br>
    <button type="submit">Add Student</button>
</form>
</div>

<h3>Students List</h3>

<table>
<tr>
    <th>ID</th>
    <th>Name</th>
    <th>Age</th>
    <th>Grade</th>
    <th>Marks</th>
    <th>Action</th>
</tr>

{% for student in students %}
<tr>
<form action="/update/{{ student.id }}" method="POST">
    <td>{{ student.id }}</td>
    <td><input type="text" name="name" value="{{ student.name }}"></td>
    <td><input type="number" name="age" value="{{ student.age }}"></td>
    <td><input type="text" name="grade" value="{{ student.grade }}"></td>
    <td><input type="number" name="marks" value="{{ student.marks }}"></td>
    <td>
        <button type="submit">Update</button>
        <a href="/delete/{{ student.id }}">Delete</a>
    </td>
</form>
</tr>
{% endfor %}

</table>

</div>

</body>
</html>